Package: com.trustcircle.gamehub-tweak
Name: gamehub_tweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Trust Circle
Author: starfall
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 136
